@font-face {
    font-family: murder;
    src: url('../css/fonts/youmurdererbb_reg.otf');
}
@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

body{
   margin: 0 auto;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   background-image: url("../images/coaster.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

main{
   padding: .7em 2em;
   flex: 1;
  //  background-image: url("../images/coaster.jpg");
  //  background-repeat: no-repeat;
  //  background-position: center;
  //  background-size: cover;
}


// Nav styling
header{
  box-shadow: 0 0.1px 2.4px -0.5px;
  z-index: 1;
  background-color: rgba(250,250,250,.95);
}
.nav{
  height: 4.75em;
}
.navItems{
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 6em;
  margin: 0;
  line-height: 4.5em;
}
.navItems li:nth-child(2){
  margin: auto;
}
#brand{
  font-family: murder;
  font-size: 3.65em;
  letter-spacing: 1px;
}
#brand:first-child:hover{
  // cursor: pointer;
}
.coaster{
  height: 58px;
  transform: translate(-125px, 10px);
  opacity: 0.4;
}
.easter{
  position: absolute;
  width: 5.8em;
  transform: translate(3.3em, -1.4em);
  height: 2.36em;
  box-shadow: 0 0 19px 0.1px;
  opacity: 0;
  display: none;
}
.reveal{
  animation: fade 4s linear;
  display: inherit;
}

#searchInput{
  width: 19em;
  height: 1.8em;
  border-radius: 15px;}
.searchIcon{
  height: .76em;
}
#searchInput:focus{
  outline: none;
  box-shadow: 0px 0px 4px 1px #f20505;
}

// selections
#timeDiv{
  padding: 3px 0px;
  width: 35.5%;
  text-align: center;
  margin-bottom: .5em;
}
#timeDiv * {
  width: 5.25em;
  border-radius: 4px;
  border-width: 1px;
  padding: 5px 5px;
  font-size: .73em;
  font-weight: 500;
  letter-spacing: .5px;
  background-color: rgba(220,90,100,1);
  color: rgba(250,250,250,1);
}
.time{
  width: 5.46em;
}
#typeSelect{
  width: 8.3em;
  height: 25px;
}
button:hover{
  cursor: pointer;
  border: 1px solid rgba(250,250,250,.95);
  box-shadow: 0px 0px 4px 0.4px rgb(249, 243, 243);
}



// Grid styling
#areaGrid{
  display: grid;
  max-width: 21.5em;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 5.2em 5.2em 5.2em;
  text-align: center;
  color: white;
  padding-left: 1em;
  font-family: murder;
  font-size: 2.12em;
  letter-spacing: 1.20px;
  background-image: url(../images/skull.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 31.6% 5.23em;
  background-position-x: 51%;
  opacity: .97;
}
.gridItem{
  padding: 1.8em 0.5em;
  position: relative;
}
.gridItem:hover{
  opacity: .8;
  transition: opacity .1s ease-in-out;
  cursor: pointer;
}
#areaGrid #item5{
  grid-column-start: 3;
}
#item1{
  border-top-left-radius: 20px;
}
#item3{
  border-top-right-radius: 20px;
}
#item6{
  border-bottom-left-radius: 20px;
}
#item8{
  border-bottom-right-radius: 20px;
}
.gridItem p{
  margin: 0;
}
.gridCells{
  display: grid;
  grid-template-rows: .9em .9em .9em;
  grid-template-columns: 28px 28px 28px 28px;
  position: absolute;
  grid-row-gap: .5em;
  grid-column-gap: .64em;
  bottom: .68em;
  left: .35em;
}
.cell-highlight{
  background-image: url("../images/location2.png");
  background-repeat: no-repeat;
  background-size: 27px;
  // opacity: .85;
}
.nameFade {
  opacity: .38;
}



// discription area
#descriptionArea{
  height: 32.29em;
  overflow: scroll;
  border: 1px solid black;
  width: 33.5%;
  float: left;
  border-radius: 19px;
  padding: 0.3em 1em;
  font-family: Quicksand, sans-serif; 
  background-color: rgba(244,245,249,.97);
}
// #descriptionArea:hover{
//   cursor: pointer;
// }
.attraction{
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.attraction:hover{
  cursor: pointer;
}
.attraction p{
  margin: 15px 0px;
}
.attraction span{
  font-size: 13.7px;
  font-style: italic;
  letter-spacing: .45px;
  font-weight: 600;
}
.attraction span:hover{
  opacity: .6;
}


.highlight{
  border: 4.6px outset rgba(255,255,255,.95);
  // box-shadow: inset 0px 0px 5px 5px rgba(255,0,0,.9);
}


.unhighlight{
  zoom: 1;
  filter: alpha(opacity=45);
  opacity: 0.45;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

//Footer
.footer{
  font-family: murder;
  font-size: 1.65em;
  text-align: center;
  background-color: rgba(245,245,245,.8);
  width: 6.5em;
  margin: auto;
}
footer{
  background-color: rgba(250,250,250,.95);
}