@font-face {
    font-family: murder;
    src: url('../css/fonts/youmurdererbb_reg.otf');
}
@font-face {
    font-family: downCity;
    src: url('../css/fonts/Barbed Wires.ttf');
}

body{
   margin: 0 auto;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
  //  font-family: ;
  //  background-image: url("../images/.jpg");
  //  background-repeat: no-repeat;
  //  background-position: center;
  //  background-size: cover;
}
main{
   margin: 0 2em;
   flex: 1;
}


// Nav styling
.nav{
   height: 4.5em;
}
.navItems{
   display: flex;
   list-style: none;
   justify-content: center;
   padding: 0 2em;
   margin: 0;
   line-height: 4.5em;
}
.navItems li:nth-child(2){
   margin: auto;
}
#brand{
   font-family: murder;
   font-size: 3em;
   letter-spacing: 1px;
}

#searchInput{
  width: 18em;
  height: 1.7em;}
.searchIcon{
   height: .76em;
}


// selections
#timeDiv{
  padding: 3px 0px;
  width: 35.5%;
  text-align: center;
}
#timeDiv * {
  width: 5.25em;
  border-radius: 4px;
  border-width: 1px;
  padding: 5px 5px;
  font-size: .73em;
  font-weight: 500;
}
#typeSelect{
  width: 7.3em;
  height: 25px;
}

//Content Wrap (description area/ grid map)
.contentWrapper{

}


// Grid styling
#areaGrid{
   display: grid;
   grid-template-columns: 33% 33% 33%;
   grid-template-rows: 5.2em 5.2em 5.2em;
   text-align: center;
   color: white;
   padding-left: 5px;
   font-family: murder;
   font-size: 2.12em;
   letter-spacing: 1.20px;
}
.gridItem{
   line-height: 5.2em;
}
.gridItem:hover{
  opacity: .8;
  cursor: pointer;
}
#areaGrid #item5{
   grid-column-start: 3;
}
#item1{
   border-top-left-radius: 20px;
}
#item3{
   border-top-right-radius: 20px;
}
#item6{
   border-bottom-left-radius: 20px;
}
#item8{
   border-bottom-right-radius: 20px;
}


// discription area
#descriptionArea{
   height: 28.4em;
   overflow: scroll;
   border: 1px solid black;
   width: 33.5%;
   float: left;
   border-radius: 19px;
   padding: 0.3em 1em;
   font-family: Quicksand, sans-serif;
}

.highlight{
  border: 10px solid red;


}

//Footer
.footer{
  font-family: murder;
  font-size: 1.5em;
  text-align: center;
}